<h1>Subjects Infomation</h1>
  <strong>Subject Name:</strong> <%= @subject.name %><br>
  <strong>Description:</strong> <%= @subject.description %><br>

  <%= link_to "Edit", edit_supervisors_subject_path(@subject) %>
  <%= link_to "Delete", @subject, method: :delete, data: {confirm: "Are you sure?"} %>

  <h2>List of tasks</h2>
  <% @tasks.each do |task| %>
    <strong>Task Name:</strong> <%= task.name %><br>
  <% end %>
