<% provide(:title, 'Create new trainee') %>
<h1>Create new trainee</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for [:supervisors, @user] do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :full_name %>
      <%= f.text_field :full_name, class: 'form-control' %>

      <%= f.label :date_of_birth %>
      <%= f.datetime_field :date_of_birth,  :value => Time.now.strftime('%Y-%m-%d') %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <%= f.label :role, "Role" %><br>
      <%= f.select :role, ["user","supervisor"] %>
      <%= f.submit "Create", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
